.idea
*.iws
*.iml
*.ipr
target

/logs/library-prod.log
/resources/logs/library-prod.log
/logs/library-error.log
/logs/library-warn.log
/logs/library-prod.log
/resources/logs/library-prod.log
/logs/library-error.log
/logs/library-warn.log
/src/main/resources/keystore.p12
